h1{ 
   color: white; 
   font-size: 60px; 
   margin: 0px; 
   background-color: gray;
   text-align: center;
}

h2{
   font-size: 20px;
   text-align: center;
}

p{
   font-size: 15px;
   margin: 50px
}